@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@800&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  img {
    -webkit-user-drag: none;
    -khtml-user-drag: none;
    -moz-user-drag: none;
    -o-user-drag: none;
    user-drag: none;
  }
}

*,
*::after,
*::before {
  box-sizing: border-box;
  background-repeat: no-repeat;
  transition: all 300ms;
}

:root {
  font-family: 'poppins', Avenir, Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

a {
  text-decoration: none;
}

body {
  margin: 0;
  min-height: 100vh;
  position: relative;
}
body.dark {
  background-color: #252530;
}